:root{
    --button-hover-color-magic8Ball:#dcb0ed;
    --button-hover-color-surprise:#99c99c;
    --button-hover-border: 0.4vh solid rgb(241, 231, 231);
    --text-color:white;
    --bubble-chat-color: rgb(99, 89, 89);
    --button-font-size: 20px;


}


@font-face {
    font-family: 'Font';
    src: url(fonts/04b_03/04B_03__.TTF) format('truetype');
}

@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 60px;}
    75%  {top: 50px}
    100% {top: 10px;}
    from {color: #d558c8;}
    to {color: #24d292;}
}

  @keyframes mybutton {
    from {background-color: #b983c9;}
    to {background-color: #85f0c9;}
  }

  @keyframes mybutton {
    from {background-color: #b983c9;}
    to {background-color: #85f0c9;}
  }

  @keyframes moveTotoro {
    0%   {top: 0px;}
    25%  {top:20px;}
    50%  {top: 10px}
    75% {top: 5px}
    100% {top: 0px;} 
  }
  

body {
    background-size: contain;
    background-image: url(img/Memariani.jpg);
    font-family: Font;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    color:var(--text-color) ;
   

}


body header #title {
  
  position: relative;
  animation: mymove 2s infinite;
  margin-bottom: 1vh;
  
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}

body header p {
    text-align: center;
}

body .section1 {
    display: flex;
    flex-direction: column;
}

#magic8Ball {
    color: var(--text-color);
    background-color: var(--button-hover-color-magic8Ball);
    margin: auto;
    padding: 4vw;
    border-radius: 5px;
    font-family: Font;   
    font-size: var(--button-font-size); 
    margin-bottom: 3vh;
    border: var(--button-hover-border);

    
  
}

#magic8Ball:hover {
    
	transition: all 0.3s;
	transform: scale(1.2);
   
    animation: mybutton 5s infinite;
}

#surprise {
    margin: auto;
    padding: 2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 5px;
    background-color: var(--button-hover-color-surprise);
    font-family: Font;      
    font-size: var(--button-font-size); 
    color: var(--text-color);
    border: var(--button-hover-border);

}

#surprise:hover {

	transition: all 0.3s;
	transform: scale(1.2);
    margin-bottom: 5vh;
    animation: mybutton 5s infinite;
    
}



#musicSection { 
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    right: 0;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-image: url(img/Background.png);
}

#music {
    padding: 2vw;
    margin-bottom: 2vw;
    border-radius: 5px;
    background-color: var(--button-hover-color-surprise);
    font-family: Font;  
    font-size: var(--button-font-size); 
    border: var(--button-hover-border);
    color: var(--text-color);

}


#music:hover {
	transition: all 0.3s;
	transform: scale(1.2);
    animation: mybutton 2s infinite;
    margin-bottom: 1vh;
}


#musica {
    display: flex;
    height: 35vh;
    justify-content: center;
}

#anime {
    display: flex;
    margin: auto;
    margin-bottom: 0;
    bottom: 0;
    flex-direction: column;
}

#totoroChat {
    display: flex;
    flex-direction: row;
   
}

#bubbleChat {
    background-image: url(img/pixel/pngfind.com-chat-bubble-png-331876.png);
    background-size: cover;
    width: 48vw;
    height: 22vh;
    margin: 0;
    color: var(--bubble-chat-color);
    text-align: center;
}

    
#totoro {
    margin-right: 0;
    margin-left: 0;
    
}

#totoroImage {
    
    width:35vw;
    
}

#totoroTalk{
    text-align: center;
}
#mvTotoro{
    width: 50vw;
    animation: moveTotoro 3s infinite;
    position: relative;
}



.hidden {
    display: none;
    visibility: hidden;
}

@media screen and (min-width: 680px) {


    body {
       
        background-size: auto;
        margin: 0 30px;
    }

    header{
        flex-direction: column;
        flex-wrap: wrap;
    }

    #magic8Ball {
        padding:20px;
    }

    #musicSection{
        background-size: contain;
        overflow: hidden;

    }

    #surprise {
        padding:20px;
    }

    #music{
        padding:20px;
    }

    #mvTotoro{
        width: auto;
        margin-right: 50px;
    }

    #totoroImage {
    width: 250px;
    }

    #bubbleChat {
    width: 280px;
    height: 222px;
    }

    #totoroTalk {
        font-size: 25px;
    }

    #anime{
        flex-direction: row;
        
    }

    #musica {
        display: flex;
        width: 43vw;
        height: 64vh;
        justify-content: center;
    }
}


@media only screen and (min-width: 280px){
    #totoroTalk{
        font-size: 19px;
    }
}

